:root {
  font-size: 10px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.modifyz {
  display: flex;
  gap: 50px;
  align-items: center;
}

.logo img {
  width: 75px;
}

.m {
  color: #219ff5;
}

.odi {
  color: grey;
}

.fyz {
  color: #219ff5;
}

header {
  width: 100vw;
  padding: 1vh 7vw;
  position: fixed;
  background-color: #fff;
}

.hamburger {
  display: none;
  font-size: 3rem;
  border-radius: 50%;
}

.hamburger:hover {
  transform: scale(1.1);
}

header nav ul {
  display: flex;
  gap: 2.5vw;
  align-items: center;
}

header nav ul li a {
  color: grey;
  font-size: 1.6rem;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #6f6944;
}
